.valor-real {
    box-sizing: border-box;
    padding-top: 5px;
    margin: 0px;
    border: 2px solid #000;
    text-align: center;
    background-color: #fff;
    width: 211px;
    height: 30px;
}

.title-vr {
    padding-left: 30px;
    font-size: 25px;
    padding-right: 10px;
}